<a href="https://colab.research.google.com/github/MaryamNozari/weather_app/blob/main/Advanced_Econometrics2_PS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#reading data and installing packages

In [2]:
from google.colab import drive
drive.mount ("/content/Drive")

Mounted at /content/Drive

In [3]:
import pandas as pd 
import numpy as np

In [4]:
from google.colab import files
uploaded = files.upload()

Saving grilic.xls to grilic.xls

In [5]:
import io

In [7]:
df = pd.read_excel(io.BytesIO(uploaded['grilic.xls']))
df

,RNS,RNS80,MRT,MRT80,SMSA,SMSA80,MED,IQ,KWW,YEAR,AGE,AGE80,S,S80,EXPR,EXPR80,TENURE,TENURE80,LW,LW80
0,0,0,0,1,1,1,8,93,35,68,19,31,12,12,0.462,10.635,0,2,5.900,6.645
1,0,0,0,1,1,1,14,119,41,66,23,37,16,18,0.000,11.367,2,16,5.438,6.694
2,0,0,0,1,1,1,14,108,46,67,20,33,14,14,0.423,11.035,1,9,5.710,6.715
3,0,0,0,1,1,1,12,96,32,66,18,32,12,12,0.333,13.089,1,7,5.481,6.477
4,0,0,1,1,1,1,6,74,27,73,26,34,9,11,9.013,14.402,3,5,5.927,6.332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,1,1,1,1,1,1,8,113,45,71,26,35,16,16,0.000,8.205,1,10,6.023,7.274
754,1,1,1,1,0,0,7,93,39,67,22,35,12,12,0.692,10.737,1,3,5.176,6.469
755,1,1,1,1,0,0,12,101,38,73,25,33,12,12,4.828,10.589,0,5,5.784,6.467
756,1,1,1,1,0,0,7,100,33,73,23,31,12,12,2.489,9.004,2,3,5.628,6.168
757,1,1,1,1,1,1,8,102,32,68,19,31,12,13,0.277,9.834,1,3,5.075,7.092

# part a _ summary stats

In [8]:
df2 = df.describe()
df2

,RNS,RNS80,MRT,MRT80,SMSA,SMSA80,MED,IQ,KWW,YEAR,AGE,AGE80,S,S80,EXPR,EXPR80,TENURE,TENURE80,LW,LW80
count,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.00000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000,758.000000
mean,0.269129,0.292876,0.514512,0.898417,0.704485,0.712401,10.91029,103.856201,36.573879,69.031662,21.835092,33.011873,13.405013,13.707124,1.735429,11.394261,1.831135,7.362797,5.686739,6.826555
std,0.443800,0.455383,0.500119,0.302299,0.456575,0.452942,2.74112,13.618666,7.302247,2.631794,2.981756,3.085504,2.231828,2.214693,2.105542,4.210745,1.673630,5.050240,0.428949,0.409927
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,54.000000,12.000000,66.000000,16.000000,28.000000,9.000000,9.000000,0.000000,0.692000,0.000000,0.000000,4.605000,4.749000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,9.00000,95.250000,32.000000,66.000000,20.000000,30.000000,12.000000,12.000000,0.281500,8.388250,1.000000,3.000000,5.380000,6.571000
50%,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,12.00000,104.000000,37.000000,69.000000,22.000000,33.000000,12.000000,13.000000,0.960000,11.059000,1.000000,7.000000,5.684000,6.854500
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,12.00000,113.750000,41.000000,71.000000,24.000000,36.000000,16.000000,16.000000,2.440000,14.671250,2.000000,11.000000,5.991000,7.091750
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,18.00000,145.000000,56.000000,73.000000,30.000000,38.000000,18.000000,18.000000,11.444000,22.045000,10.000000,22.000000,7.051000,8.032000

In [52]:
#calculating correlation

In [9]:
df['IQ'].corr(df['S'])

0.5131176018331909

In [53]:
#adding dummy variables

In [10]:
df3= pd.get_dummies(df, columns = ['YEAR'])
df3

,RNS,RNS80,MRT,MRT80,SMSA,SMSA80,MED,IQ,KWW,AGE,...,TENURE80,LW,LW80,YEAR_66,YEAR_67,YEAR_68,YEAR_69,YEAR_70,YEAR_71,YEAR_73
0,0,0,0,1,1,1,8,93,35,19,...,2,5.900,6.645,0,0,1,0,0,0,0
1,0,0,0,1,1,1,14,119,41,23,...,16,5.438,6.694,1,0,0,0,0,0,0
2,0,0,0,1,1,1,14,108,46,20,...,9,5.710,6.715,0,1,0,0,0,0,0
3,0,0,0,1,1,1,12,96,32,18,...,7,5.481,6.477,1,0,0,0,0,0,0
4,0,0,1,1,1,1,6,74,27,26,...,5,5.927,6.332,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,1,1,1,1,1,1,8,113,45,26,...,10,6.023,7.274,0,0,0,0,0,1,0
754,1,1,1,1,0,0,7,93,39,22,...,3,5.176,6.469,0,1,0,0,0,0,0
755,1,1,1,1,0,0,12,101,38,25,...,5,5.784,6.467,0,0,0,0,0,0,1
756,1,1,1,1,0,0,7,100,33,23,...,3,5.628,6.168,0,0,0,0,0,0,1
757,1,1,1,1,1,1,8,102,32,19,...,3,5.075,7.092,0,0,1,0,0,0,0

In [ ]:
!pip install linearmodels

In [12]:
!pip install stargazer

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting stargazer
  Downloading stargazer-0.0.5-py3-none-any.whl (9.7 kB)
Installing collected packages: stargazer
Successfully installed stargazer-0.0.5

In [13]:
import pandas as pd
import numpy as np
import plotnine as p

import statsmodels.api as sm
import statsmodels.formula.api as smf
from linearmodels import IV2SLS 

from stargazer.stargazer import Stargazer

# part b- OLS model and 2SLS model

In [14]:
#OLS
ols_reg = sm.OLS.from_formula("LW ~ S + IQ + EXPR + TENURE + RNS + SMSA + YEAR_66 +	YEAR_67 +	YEAR_68 +	YEAR_69 +	YEAR_70	+ YEAR_71 +	YEAR_73", 
              data = df3).fit()

print(ols_reg)
ols_reg.summary()

<statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x7fae304df310>

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     LW   R-squared:                       0.430
Model:                            OLS   Adj. R-squared:                  0.421
Method:                 Least Squares   F-statistic:                     46.86
Date:                Wed, 23 Nov 2022   Prob (F-statistic):           9.84e-83
Time:                        19:58:40   Log-Likelihood:                -220.33
No. Observations:                 758   AIC:                             466.7
Df Residuals:                     745   BIC:                             526.9
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.8319      0.103     37.295      0.000       3.630       4.034
S              0.0620      0.007      8.512      0.000       0.048       0.076
IQ             0.0027      0.001      2.630      0.009       0.001       0.005
EXPR           0.0308      0.007      4.737      0.000       0.018       0.044
TENURE         0.0422      0.007      5.636      0.000       0.027       0.057
RNS           -0.0963      0.028     -3.496      0.001      -0.150      -0.042
SMSA           0.1329      0.027      5.001      0.000       0.081       0.185
YEAR_66        0.4035      0.025     15.827      0.000       0.353       0.453
YEAR_67        0.3492      0.039      9.042      0.000       0.273       0.425
YEAR_68        0.4840      0.035     13.703      0.000       0.415       0.553
YEAR_69        0.6110      0.035     17.258      0.000       0.542       0.681
YEAR_70        0.6317      0.041     15.274      0.000       0.550       0.713
YEAR_71        0.6261      0.039     16.237      0.000       0.550       0.702
YEAR_73        0.7263      0.037     19.598      0.000       0.654       0.799
==============================================================================
Omnibus:                        4.773   Durbin-Watson:                   1.726
Prob(Omnibus):                  0.092   Jarque-Bera (JB):                5.622
Skew:                          -0.068   Prob(JB):                       0.0602
Kurtosis:                       3.400   Cond. No.                     3.51e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.87e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [15]:
#2SLS
iv_reg = IV2SLS.from_formula("LW ~ S + EXPR + TENURE + RNS + SMSA + YEAR_66 +	YEAR_67 +	YEAR_68 +	YEAR_69 +	YEAR_70	+ YEAR_71 +	YEAR_73 + [IQ ~ MED + KWW + MRT + AGE ] ", df3).fit()
print(iv_reg)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:                     LW   R-squared:                      0.4255
Estimator:                    IV-2SLS   Adj. R-squared:                 0.4163
No. Observations:                 758   F-statistic:                 2.409e+05
Date:                Wed, Nov 23 2022   P-value (F-stat)                0.0000
Time:                        19:58:40   Distribution:                 chi2(13)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
EXPR           0.0299     0.0067     4.4594     0.0000      0.0167      0.0430
RNS           -0.1036     0.0297    -3.4822     0.0005     -0.1619     -0.0453
S              0.0692     0.0133     5.2048     0.0000      0.0431      0.0952
SMSA           0.1351     0.0263     5.1310     0.0000      0.0835      0.1867
TENURE         0.0433     0.0074     5.8592     0.0000      0.0288      0.0577
YEAR_66        4.3996     0.2901     15.166     0.0000      3.8310      4.9681
YEAR_67        4.3470     0.2942     14.775     0.0000      3.7703      4.9236
YEAR_68        4.4790     0.2870     15.609     0.0000      3.9166      5.0414
YEAR_69        4.6104     0.2968     15.535     0.0000      4.0288      5.1921
YEAR_70        4.6382     0.3092     15.002     0.0000      4.0322      5.2442
YEAR_71        4.6280     0.3023     15.310     0.0000      4.0355      5.2205
YEAR_73        4.7254     0.3027     15.612     0.0000      4.1322      5.3187
IQ             0.0002     0.0041     0.0423     0.9662     -0.0079      0.0083
==============================================================================

Endogenous: IQ
Instruments: AGE, KWW, MED, MRT
Robust Covariance (Heteroskedastic)
Debiased: False

In [16]:
table32 = pd.DataFrame({'A': np.linspace(1,2,2), 'Estimation technique': ['OLS','2SLS'],'S coeficient': ['0.0620','0.0692'],'IQ coeficient': ['0.0027','0.0020']})
table32

     A Estimation technique S coeficient IQ coeficient
0  1.0                  OLS       0.0620        0.0027
1  2.0                 2SLS       0.0692        0.0020

# part c- sargan test

In [18]:
print(iv_reg.sargan)

Sargan's test of overidentification
H0: The model is not overidentified.
Statistic: 87.6552
P-value: 0.0000
Distributed: chi2(3)

# part d- running 2 OLS estimation

In [20]:
res_first = IV2SLS(df3.IQ, df3[["MED" ,"KWW","MRT","AGE"]], None, None).fit(
    cov_type="unadjusted"
)
print(res_first)
df3["IQ_hat"] = df3.IQ - res_first.resids

                            OLS Estimation Summary
==============================================================================
Dep. Variable:                     IQ   R-squared:                      0.9802
Estimator:                        OLS   Adj. R-squared:                 0.9801
No. Observations:                 758   F-statistic:                 3.754e+04
Date:                Wed, Nov 23 2022   P-value (F-stat)                0.0000
Time:                        19:58:40   Distribution:                  chi2(4)
Cov. Estimator:            unadjusted

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
MED            1.9611     0.1883     10.413     0.0000      1.5920      2.3302
KWW            0.7818     0.0818     9.5607     0.0000      0.6215      0.9421
MRT           -7.6442     1.1507    -6.6431     0.0000     -9.8996     -5.3889
AGE            2.6053     0.1510     17.257     0.0000      2.3094      2.9012
==============================================================================

In [23]:
res_second = IV2SLS((df3.LW), df3[["S","IQ_hat","EXPR","TENURE" , "RNS",  "SMSA" , "YEAR_66" ,	"YEAR_67" ,	"YEAR_68" ,	"YEAR_69" ,	"YEAR_70"	, "YEAR_71" ,	"YEAR_73"]],None,None).fit(
    cov_type="unadjusted"
)
print(res_second)

                            OLS Estimation Summary
==============================================================================
Dep. Variable:                     LW   R-squared:                      0.4454
Estimator:                        OLS   Adj. R-squared:                 0.4365
No. Observations:                 758   F-statistic:                 2.411e+05
Date:                Wed, Nov 23 2022   P-value (F-stat)                0.0000
Time:                        19:59:07   Distribution:                 chi2(13)
Cov. Estimator:            unadjusted

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
S              0.0466     0.0078     5.9369     0.0000      0.0312      0.0619
IQ_hat         0.0065     0.0012     5.2985     0.0000      0.0041      0.0089
EXPR           0.0227     0.0065     3.4882     0.0005      0.0099      0.0354
TENURE         0.0359     0.0074     4.8222     0.0000      0.0213      0.0505
RNS           -0.0976     0.0268    -3.6386     0.0003     -0.1501     -0.0450
SMSA           0.1183     0.0262     4.5218     0.0000      0.0671      0.1696
YEAR_66        4.0772     0.1095     37.228     0.0000      3.8625      4.2919
YEAR_67        4.0473     0.1117     36.242     0.0000      3.8284      4.2662
YEAR_68        4.1805     0.1108     37.735     0.0000      3.9633      4.3976
YEAR_69        4.2991     0.1144     37.566     0.0000      4.0748      4.5234
YEAR_70        4.3291     0.1188     36.446     0.0000      4.0963      4.5619
YEAR_71        4.2968     0.1232     34.879     0.0000      4.0553      4.5383
YEAR_73        4.4257     0.1240     35.685     0.0000      4.1827      4.6688
==============================================================================

# part e_ schooling is endogenous as well

In [25]:
#2SLS
 
iv_reg2 = IV2SLS.from_formula("LW ~ EXPR + TENURE + RNS + SMSA + YEAR_66 +	YEAR_67 +	YEAR_68 +	YEAR_69 +	YEAR_70	+ YEAR_71 +	YEAR_73 + [IQ + S ~ MED + KWW + MRT + AGE ] ", df3).fit()
print(iv_reg2)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:                     LW   R-squared:                      0.2280
Estimator:                    IV-2SLS   Adj. R-squared:                 0.2155
No. Observations:                 758   F-statistic:                 1.839e+05
Date:                Wed, Nov 23 2022   P-value (F-stat)                0.0000
Time:                        19:59:16   Distribution:                 chi2(13)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
EXPR           0.0493     0.0080     6.1231     0.0000      0.0335      0.0651
RNS           -0.1018     0.0337    -3.0196     0.0025     -0.1679     -0.0357
SMSA           0.1261     0.0308     4.0930     0.0000      0.0657      0.1865
TENURE         0.0422     0.0095     4.4610     0.0000      0.0237      0.0608
YEAR_66        4.0335     0.3350     12.039     0.0000      3.3769      4.6902
YEAR_67        3.9739     0.3399     11.690     0.0000      3.3076      4.6402
YEAR_68        4.0822     0.3325     12.276     0.0000      3.4304      4.7340
YEAR_69        4.1863     0.3458     12.108     0.0000      3.5087      4.8640
YEAR_70        4.2079     0.3578     11.762     0.0000      3.5067      4.9092
YEAR_71        4.1252     0.3521     11.718     0.0000      3.4352      4.8152
YEAR_73        4.1267     0.3559     11.596     0.0000      3.4292      4.8243
IQ            -0.0091     0.0049    -1.8621     0.0626     -0.0187      0.0005
S              0.1724     0.0207     8.3139     0.0000      0.1318      0.2131
==============================================================================

Endogenous: IQ, S
Instruments: AGE, KWW, MED, MRT
Robust Covariance (Heteroskedastic)
Debiased: False

In [26]:
print(iv_reg2.sargan)

Sargan's test of overidentification
H0: The model is not overidentified.
Statistic: 13.2683
P-value: 0.0013
Distributed: chi2(2)

In [34]:
#He gives three reasons for the endogeneity of schooling. 
#First, the measurement error etha may be related to success in schooling. 
#The second reason is the argument we made in the text: 
#the choice of S is influenced by unobservable characteristics. 
#Third, schooling may be measured with error. The general formula for the asymptotic bias for the 2SLS estimator is given by:

#If S is endogenous, the instrument set xi for the 2SLS estimation in (b) erroneously
#includes a variable (which is S) that is not predetermined. So one of
#the elements of E(xi.ri) is not zero. Then it is clear from the formula that
#asymptotic bias can exist at least for some coefficients.

# part f - GMM

In [27]:
from linearmodels.iv.model import IVGMM

In [57]:
df3["S_hat"] = df3.S - iv_reg.resids

In [44]:
#GMM without schooling as instrument
gmmest0 = IVGMM((df3.LW), df3[["EXPR","TENURE" , "RNS",  "SMSA" , "YEAR_66" ,	"YEAR_67" ,	"YEAR_68" ,	"YEAR_69" ,	"YEAR_70"	, "YEAR_71" ,	"YEAR_73"]],df[["IQ"]],df3[["MED" ,"KWW","MRT","AGE"]]).fit(
    cov_type="unadjusted"
)
print(gmmest0)

                          IV-GMM Estimation Summary
==============================================================================
Dep. Variable:                     LW   R-squared:                      0.1395
Estimator:                     IV-GMM   Adj. R-squared:                 0.1268
No. Observations:                 758   F-statistic:                 1.545e+05
Date:                Wed, Nov 23 2022   P-value (F-stat)                0.0000
Time:                        20:53:45   Distribution:                 chi2(12)
Cov. Estimator:            unadjusted

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
EXPR           0.0364     0.0084     4.3087     0.0000      0.0198      0.0529
TENURE         0.0343     0.0093     3.6741     0.0002      0.0160      0.0525
RNS           -0.0454     0.0354    -1.2809     0.2002     -0.1148      0.0241
SMSA           0.1129     0.0327     3.4556     0.0005      0.0489      0.1769
YEAR_66        2.9929     0.3131     9.5582     0.0000      2.3792      3.6066
YEAR_67        2.9389     0.3182     9.2345     0.0000      2.3151      3.5626
YEAR_68        3.0794     0.3160     9.7451     0.0000      2.4601      3.6987
YEAR_69        3.2085     0.3255     9.8556     0.0000      2.5704      3.8465
YEAR_70        3.1402     0.3393     9.2540     0.0000      2.4751      3.8052
YEAR_71        3.1763     0.3390     9.3683     0.0000      2.5118      3.8408
YEAR_73        3.3092     0.3447     9.6009     0.0000      2.6336      3.9847
IQ             0.0228     0.0031     7.3852     0.0000      0.0167      0.0288
==============================================================================

Endogenous: IQ
Instruments: MED, KWW, MRT, AGE
GMM Covariance
Debiased: False
Unadjusted (Homoskedastic)

In [58]:
#GMM with schooling as instrument
gmmest1 = IVGMM((df3.LW), df3[["EXPR","TENURE" , "RNS",  "SMSA" , "YEAR_66" ,	"YEAR_67" ,	"YEAR_68" ,	"YEAR_69" ,	"YEAR_70"	, "YEAR_71" ,	"YEAR_73"]],df[["IQ"]],df3[["MED" ,"KWW","MRT","AGE","S_hat"]]).fit(
    cov_type="unadjusted"
)
print(gmmest1)

                          IV-GMM Estimation Summary
==============================================================================
Dep. Variable:                     LW   R-squared:                      0.3413
Estimator:                     IV-GMM   Adj. R-squared:                 0.3316
No. Observations:                 758   F-statistic:                  2.01e+05
Date:                Wed, Nov 23 2022   P-value (F-stat)                0.0000
Time:                        21:06:03   Distribution:                 chi2(12)
Cov. Estimator:            unadjusted

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
EXPR           0.0245     0.0071     3.4376     0.0006      0.0105      0.0385
TENURE         0.0438     0.0081     5.4064     0.0000      0.0279      0.0597
RNS           -0.0808     0.0305    -2.6511     0.0080     -0.1405     -0.0211
SMSA           0.1215     0.0285     4.2672     0.0000      0.0657      0.1773
YEAR_66        4.0365     0.2262     17.841     0.0000      3.5930      4.4799
YEAR_67        3.9900     0.2305     17.309     0.0000      3.5382      4.4418
YEAR_68        4.1264     0.2289     18.025     0.0000      3.6777      4.5751
YEAR_69        4.2666     0.2358     18.093     0.0000      3.8044      4.7287
YEAR_70        4.2426     0.2461     17.237     0.0000      3.7602      4.7250
YEAR_71        4.3025     0.2450     17.559     0.0000      3.8223      4.7828
YEAR_73        4.4702     0.2486     17.982     0.0000      3.9830      4.9575
IQ             0.0124     0.0022     5.5711     0.0000      0.0080      0.0167
==============================================================================

Endogenous: IQ
Instruments: MED, KWW, MRT, AGE, S_hat
GMM Covariance
Debiased: False
Unadjusted (Homoskedastic)

In [59]:
gmmest1.c_stat()

C-statistic
H0: All endogenous variables are exogenous
Statistic: 67.9008
P-value: 0.0000
Distributed: chi2(1)
WaldTestStatistic, id: 0x7fae2cd15a50

In [61]:
gmmest = IVGMM((df3.LW), df3[["EXPR","TENURE" , "RNS",  "SMSA" , "YEAR_66" ,	"YEAR_67" ,	"YEAR_68" ,	"YEAR_69" ,	"YEAR_70"	, "YEAR_71" ,	"YEAR_73"]],df[["IQ","S"]],df3[["MED" ,"KWW","MRT","AGE"]]).fit(
    cov_type="unadjusted"
)
print(gmmest)

                          IV-GMM Estimation Summary
==============================================================================
Dep. Variable:                     LW   R-squared:                      0.2168
Estimator:                     IV-GMM   Adj. R-squared:                 0.2042
No. Observations:                 758   F-statistic:                 1.694e+05
Date:                Wed, Nov 23 2022   P-value (F-stat)                0.0000
Time:                        21:07:48   Distribution:                 chi2(13)
Cov. Estimator:            unadjusted

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
EXPR           0.0503     0.0082     6.1185     0.0000      0.0342      0.0664
TENURE         0.0425     0.0089     4.7689     0.0000      0.0250      0.0600
RNS           -0.1041     0.0346    -3.0067     0.0026     -0.1719     -0.0362
SMSA           0.1248     0.0312     3.9999     0.0001      0.0636      0.1859
YEAR_66        4.0039     0.3179     12.596     0.0000      3.3809      4.6269
YEAR_67        3.9509     0.3228     12.240     0.0000      3.3182      4.5835
YEAR_68        4.0499     0.3185     12.715     0.0000      3.4256      4.6742
YEAR_69        4.1594     0.3276     12.696     0.0000      3.5173      4.8015
YEAR_70        4.1709     0.3418     12.203     0.0000      3.5010      4.8408
YEAR_71        4.0886     0.3373     12.121     0.0000      3.4275      4.7497
YEAR_73        4.1035     0.3378     12.149     0.0000      3.4415      4.7656
IQ            -0.0093     0.0047    -1.9581     0.0502     -0.0186   8.863e-06
S              0.1758     0.0210     8.3900     0.0000      0.1347      0.2169
==============================================================================

Endogenous: IQ, S
Instruments: MED, KWW, MRT, AGE
GMM Covariance
Debiased: False
Unadjusted (Homoskedastic)

# part g - deleting MED and KWW

In [64]:
#2SLS
 
iv_reg3 = IV2SLS.from_formula("LW ~ EXPR + TENURE + RNS + SMSA + YEAR_66 +	YEAR_67 +	YEAR_68 +	YEAR_69 +	YEAR_70	+ YEAR_71 +	YEAR_73 + [IQ + S ~   MRT + AGE ] ", df3).fit()
print(iv_reg3)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:                     LW   R-squared:                     -5781.8
Estimator:                    IV-2SLS   Adj. R-squared:                -5874.9
No. Observations:                 758   F-statistic:                    24.270
Date:                Wed, Nov 23 2022   P-value (F-stat)                0.0287
Time:                        21:11:56   Distribution:                 chi2(13)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
EXPR           1.8943     42.386     0.0447     0.9644     -81.180      84.969
RNS            8.9476     208.01     0.0430     0.9657     -398.75      416.65
SMSA          -2.9030     69.794    -0.0416     0.9668     -139.70      133.89
TENURE        -1.3614     32.202    -0.0423     0.9663     -64.476      61.753
YEAR_66       -210.44     4926.7    -0.0427     0.9659     -9866.7      9445.8
YEAR_67       -212.71     4977.7    -0.0427     0.9659     -9968.8      9543.3
YEAR_68       -210.04     4918.9    -0.0427     0.9659     -9850.9      9430.8
YEAR_69       -216.29     5065.0    -0.0427     0.9659  -1.014e+04      9710.9
YEAR_70       -225.22     5270.9    -0.0427     0.9659  -1.056e+04   1.011e+04
YEAR_71       -222.00     5194.6    -0.0427     0.9659   -1.04e+04      9959.2
YEAR_73       -221.80     5190.0    -0.0427     0.9659  -1.039e+04      9950.4
IQ             2.8091     64.740     0.0434     0.9654     -124.08      129.70
S             -5.2927     125.56    -0.0422     0.9664     -251.40      240.81
==============================================================================

Endogenous: IQ, S
Instruments: AGE, MRT
Robust Covariance (Heteroskedastic)
Debiased: False

In [ ]:
#Without MED and KWW as instruments, the 2SLS estimator becomes imprecise.
#The order condition is satisfied with equality. The culprit is the low
#explanatory power of MRT (look at its t-value in the first-stage regressions for
#S and IQ).